@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
body{
  background-color: black;
  font-size: 16px;
}
.content{
  width: 1440px;
  margin: auto;
}
header{
  background-color:#373736;
  border-top: 8px solid #3C3C3B;
}
.nav-bar{
  margin-left: 20px;
  padding: 26px;
  font-size: 0.8rem;
}
.nav-bar-link{
  text-decoration: none;
  color: #F1F1F1;
  margin-right: 16px;
}
.hero-img{
  height: 512px;
  width: 1440px;
  background-image: url(/src/images/pexels-christina-morillo-1181244.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects{
  height: 863px;
  width: 100%;
  background-color: #EEECEC;
}
.projects-content{
  height: 675px;
  width: 1362px;
  padding: 47px 38px;
}
.projects-title{
  font-size: 1.2rem;
  border-bottom: 2px solid #010101;
  display: inline-block;
}